body{
    margin: 0;
    background-color: #EA580C; 
}

header{
    background-color: #EA580C;
    height: 100px;
    margin: 0;
}

.image-logo{
    width: 50px;
    border-radius: 50%;
    margin-left: 50px;
  }
  .image-search{
    height: 50px;
    border-radius: 50%;
    margin-top: 4px;
  }
  .conteiner-search-box{
    background-color: white;
    height: 50px;
    width: 400px;
    padding: 2px;
    border-radius: 100px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search-text{
    background-color: none;
    border: none;
    outline: 0;
    margin-left: 4px;
    font-size: 17px;
  }
  .conteiner-login{
    background-color: #F9D6C4;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    margin-right: 50px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conteiner-login a{
    text-decoration: none;
    color: black;
  }
  .conteiner-login a:hover{
    color: rgb(187, 187, 187);
  }
  .nav-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

footer{
    /*background-color: #EA580C;*/
    background-color: #000;
    color: #fff;
    height:200px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
  }
  
  #footer-nav{
    display: flex;
    flex-direction: column;
    border-style: solid;
    padding: 0 20px 0 20px;
    border-width: 0 1px 0 1px;
  }
  #footer-nav a{
    color: #fff
  }
  
  #footer-nav a:hover{
    color: #EA580C;
  }
  
  .footer-dedication{
    align-items: flex-end;
  }