
/*MAIN*/
main{
  margin-top: 10px;
  margin: 0;
  background-color: rgb(255, 243, 238);
  border-radius: 50px;
  height: 2100px;
}
.image-main{
  opacity: 0.5;
  width: 120rem;
  max-height: 500px;
  border-top-right-radius: 70px;
  border-top-left-radius: 70px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.top-page{
 display: flex;
 justify-content: center;
}
.image-box{
  width: 30px;
  padding-left: 60px;
}
#image-star{
  width: 150px;
  padding-right: 50px;
}
#bottom-image{
  background-color: #FFEFCF;
  width: 90rem;
  border-end-start-radius: 70px;
  border-end-end-radius: 70px;

  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.porçao{
  display: flex;
  align-items: center;  
}
.text-por{
  padding-left: 20px;
  font-size: 20px;
  text-decoration: black;
}
.box-image-text{
  display: flex;
}
#tittle-text{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  text-decoration: underline;
}

.box-text{
  background-color: #D27C2C;
  height: 50px;
  margin-top: 80px;
  width: 90rem;
  border-radius: 20px;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.ingredientes-mododepreparo {
  display: flex;
  justify-content: center;
}
.check-box-image{
  height: 30px;
 
}
.list-text{
  display: flex;
  align-items: center;
  max-width: 800px;
  
}
.box-list{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#all-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number-modo{
  height: 100px;
  border-radius: 50%;
}

